/* ==========================================================================
   Author's  ANIMATIONs
   ========================================================================== */
@keyframes spin {
    from { transform: translateY(-50%) rotateZ(0deg)   ; }
    to   { transform: translateY(-50%) rotateZ(360deg) ; }
}

/* ==========================================================================
   FONTS
	Thin 100
	Extra-Light 200
	Light 300
	Regular 400
	Medium 500
	Semi-Bold 600
	Bold 700
   ========================================================================== */

@font-face {
       font-family: 'Work Sans';
       font-weight: 100;
       src: url('../fonts/Work_Sans/WorkSans-Thin.woff') format('woff');
}
@font-face {
       font-family: 'Work Sans';
       font-weight: 200;
       src: url('../fonts/Work_Sans/WorkSans-ExtraLight.woff') format('woff');
}
@font-face {
       font-family: 'Work Sans';
       font-weight: 300;
       src: url('../fonts/Work_Sans/WorkSans-Light.woff') format('woff');
}
@font-face {
       font-family: 'Work Sans';
       font-weight: 400;
       src: url('../fonts/Work_Sans/WorkSans-Regular.woff') format('woff');
}
@font-face {
       font-family: 'Work Sans';
       font-weight: 500;
       src: url('../fonts/Work_Sans/WorkSans-Medium.woff') format('woff');
}

@font-face {
       font-family: 'Work Sans';
       font-weight: 600;
       src: url('../fonts/Work_Sans/WorkSans-SemiBold.woff') format('woff');
}

@font-face {
       font-family: 'Work Sans';
       font-weight: 700;
       src: url('../fonts/Work_Sans/WorkSans-Bold.woff') format('woff');
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 16px;
	color: #000;
	background: #4d4d4d;
	margin: 0;
}
span {
	color: #4d4d4d;
}
h1 {
	font-size: 2em;
}
h2 {
	font-size: 1.75em;
}
h3 {
	font-size: 1.5em;
}
h4 {
	font-size: 1.25em;
}
img {
	display: inherit;
}
p {
	font-size: 1em;
	color: #4D4D4D;
	margin: 0;
}
a {
	color: #4D4D4D;
	text-align: center;
	transition-duration: 500ms;
}
a:link {
	text-decoration: none;
}

textarea:focus, input:focus{
    outline: 0;
}

#screen_1200 {
	display: none;
}

#screen_992 {
	display: none;
}

#screen_768 {
	display: none;
}

#screen_small {
	display: none;
}

#screen_iPhone6Plus {
	display: none;
}

#screen_iPhone6 {
	display: none;
}

#screen_GalaxyS5{
	display: none;
}

#screen_iPhone5 {
	display: none;
}

#screen_iPhone4 {
	display: none;
}



/* ==========================================================================
   Spencer Styles
   ========================================================================== */

/* header */
nav {
	position: fixed;
    top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #000;
	width: 100%;
	height: 3.125em;
	
	background: linear-gradient( 90deg, #46C1D0 0%, #FFAE00 100%);
	box-shadow: 0px 0px 10px 0px #000;
	z-index: 10;

	transition-duration: 500ms;
}

.nav-move-gradient-blue {
	background: linear-gradient( 90deg, #46C1D0 45%, #FFAE00 100%);
}

.no-display {
	display: none;
}

.no-opacity {
	opacity: 0;
}

.search-bar {
	position: fixed;
    top: 0;
	background: #FFAE00;
	width: 100%;
	height: 3.125em;
	
	z-index: 11;
	display: flex;
	justify-content: space-between;
	align-items: center;

	transition-duration: 500ms;
}

.search-field {
	font-family: 'Work Sans';
	font-weight: 400;
	font-size: 1.4em;
    margin: 0 1em;
    width: 100%;
}

.container-search-page {
	position: absolute;
	top: 0;
	left: 100vw;
	width: 100vw;
	height: 100vh;
	background: #e6e6e6;
	
	box-shadow: 0px 0px 10px 0px #000;
	z-index: 11;
	visibility: hidden;

	transition-duration: 200ms;
}

.container-navicon {
	display: flex;
    align-items: center;
	height: 100%;

	cursor: pointer;  
}

.icon-header {
	color: #fff;
}

.icon-nav, 
.icon-search,
.icon-search-close {
	margin: 0 1em;
	font-size: 1.5em;
	color: #fff;
}

.icon-clouds {
    margin: 0 1em;
    height: 85%;
}

.container-clouds-button {
	visibility: visible;
	z-index: 20;
}

.container-square {
	position: fixed;
	top: 4em;
	left: 0;
	width: 100vw;
	height: 80px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	transition-duration: 500ms;
}

.container-cloud-triangle {
	position: fixed;
	top: 3.75em;
	left: 0;
	width: 100vw;
	height: 30px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.cloud-button-back {
    width: 200px;
    height: 80px;
    background: #4d4d4d;

    border-radius: 15px;

    display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
 }

 .button-play {
	font-weight: 200;
    font-size: 1.75em;
    color: #fff;
    width: 95%;
 }

 .button-play:hover {
	color: #46C1D0;
	cursor: pointer;
 }

  .button-create:hover {
	color: #FFAE00;
	cursor: pointer;
 }

 .button-create {
	font-weight: 200;
    font-size: 1.75em;
    color: #fff;
    width: 95%;
 }

 .cloud-triangle {
 	width: 30px;
    height: 30px;
    background: #4d4d4d;

    transform: rotate(45deg);
 }

 .button-divider {
 	height: 1px;
 	width: 80%;
 	background: #fff
 }

.body-site {
	box-shadow: 0px 0px 10px 0px #000;
}

/* Project */
.container-projects {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    margin-top: 6em;
}

.project {
	background: #000;
	padding: 0;
	box-shadow: 0 0 1em #4d4d4d;
}

.video-still {
	width: 100%;
	transition-duration: 700ms;
}

.container-project-buttons {
	display: flex;
	width: 100%;
	justify-content: space-between;
    align-items: center;

	background: #f2f2f2;
}

.button {
	padding: 0.5em 1em;
	flex-grow: 1;
}
.button:hover {
	background: #e6e6e6;
}

.title {
	flex-grow: 2;
}

.primary {
	font-size: 1.3em;
	font-weight: 600;
}

.secondary {
	font-size: 0.8em;
	font-weight: 300;
}


.container-options-menu {
    display: flex;
    display: -webkit-flex; 
    justify-content: space-around;
    flex-direction: column;
    width: 225px;
    background: #4d4d4d;

    /*z-index: 10;*/
}

.option-button {
	display: flex;
	display: -webkit-flex; 
	align-items: center;
	width: 100%;
	height: 100%;
	font-size: 2em;
	border-bottom: solid 1px #ABABAB;
}
.option-button:hover {
	background: #ABABAB
}

.option-button-name {
	color: #fff;
	font-size: 1em;
	font-weight: 700;
}

.option-icon {
	color: #f2f2f2;
	padding: 0 0.6em 0 0.5em;
}





.container-login {
	position: fixed;
	display: none;
	top: 50px;
	left: 0;
	width: 100vw;
	height: 100vh;

	background: #fff;

	z-index: 5;
}

.login {
	/*position: relative;*/
	height: 2em;
	margin: 25px auto;
	
	cursor: pointer;
	font-size: 1.5em;
	line-height: 2em;
	text-align: center;


	color: #fff;
}

.facebook {
	background: #3b5998;
}

.google {
	background: #D50F25;
}

.logout {
	position: inherit;
    /*bottom: 25px;*/
    height: 2em;
    width: 100%;
    margin: 25px auto;

    cursor: pointer;
    font-size: 1.5em;
    line-height: 2em;
    text-align: center;
    background: #808080;
    color: #fff
}





footer {
	/*position: ;*/
	bottom: 0;
	width: 100%;
	height: 100px;
	background: #000;

	font-weight: 200;
	color: #fff;
	text-align: center;
}


#spacer01 {
	height: 100px;
}


#spacer02 {
	flex-basis: 40%;
    -webkit-flex-basis: 40%;
	width: 100%;
}














/* --=-- Color Thief --=-- */
.container-buttons {
	/*position: relative;*/
	width: 100%;
	height: 3.75em;

	background: #fff;

	transition-duration: 750ms;
}

.primary, 
.secondary, 
.tertiary {
	transition-duration: 750ms;
}

/* try this: http://stackoverflow.com/questions/1431726/css-selector-for-a-checked-radio-buttons-label
:checked + span {
    color: red;
}
*/










/* ==========================================================================
   Media Queries
   ========================================================================== */
/* DO STANDARDS
	small - 480px
	medium - 768px
	large - 992px
	xLarge - 1200px
*/

/* Desktop */
@media only screen and (min-width: 1215px) {
	#screen_1200 {
		display: block;
	}

	.project {
		width: 475px;
		margin: 1em 1em;
	}

	.container-projects {
		margin: 4em 100px;
	}

}
/* Tablet */
@media only screen and (min-width: 1014px) and (max-width: 1214px) {
	#screen_992 {
		display: block;
	}

	.project {
		width: 475px;
		margin: 1em 1em;
	}

}
/* Mobile */
@media only screen and (min-width: 768px) and (max-width: 1013px) {
	#screen_768 {
		display: block;
	}

	.project {
		width: 375px;
		margin: 2em 0;
	}

}
/* Smaller Mobile */
@media only screen and (max-width: 767px) {
	#screen_small {
		display: block;
	}

	.project {
		width: 100vw;
		margin: 2em 0;
	}

}